*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo{
    width: 4%;
    height: 4%;
}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/*.admin_image{
    width: 100px;
    object-fit: contain;
}*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    flex: 1; /* This makes the main content push the footer to the bottom */
}

.footer {
    background-color: #17a2b8; /* Same as bg-info */
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
